/**
 * CSS for Buy Now button
 */
form.buy-now button[type="submit"] {
	background: none;
	background-image: url(https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* put the height and width of your image here */
	height: 26px;
	width: 107px;
	border: none;
	margin: 12px;
}
form.pay-now button[type="submit"] {
	background: none;
	background-image: url(https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_paynow_107x26.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* put the height and width of your image here */
	height: 26px;
	width: 107px;
	border: none;
	margin: 12px;
}
form.donate button[type="submit"] {
	background: none;
	background-image: url(https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_92x26.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	/* put the height and width of your image here */
	height: 26px;
	width: 92px;
	border: none;
	margin: 12px;
}
form.buy-now button[type="submit"] span,
form.pay-now button[type="submit"] span,
form.donate button[type="submit"] span {
	display: none;
}